Package: jp.r-plus.linktocopyfortweetbot
Name: Link to Copy for Tweetbot
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Link tap then copy.
Maintainer: r_plus
Author: r_plus
Section: Tweaks
